/* TemplateMo 550 Diagoona */

body {
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
    font-weight: 300;
    overflow-x: hidden;
    color: white;
    background-color: #2C353C;
    transition: background-color 0.6s ease; /* Smooth transition for background color */
}

/* Define @font-face for the local font */
@font-face {
    font-family: 'LEMONMILK';
    src: url('LEMONMILK-Medium.otf') format('woff2'), /* Define the path to your font file */
         url('LEMONMILK-Medium.otf') format('woff'); /* Add other formats if needed */
}

/* Apply the local font to the navigation */
.navbar-nav .nav-link {
    font-family: 'LEMONMILK', sans-serif; /* Use the local font */
}

a, button, .btn, .form-control, textarea, .navbar-toggler {
    transition: all 0.6s ease; /* Smooth transition for anchor tags, buttons, form inputs, and navbar toggler */
}

ul { padding: 0; }
a:hover { text-decoration: none; }
button:focus { outline: none; }
p { line-height: 1.9; }
.tm-logo { margin-right: 20px; }
.tm-slogan { font-size: 0.8rem; }

/* Navigation */
.navbar-toggler {
    padding: 8px 15px;
    border: 0;
    border-radius: 0;
    transform: skewX(-15deg);
    background-color: rgba(0,0,0,0.5);
    color: white;    
}

.navbar-toggler i { transform: skewX(15deg); }

.navbar-expand-lg {
    padding-left: 0;
    padding-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link { padding: 0; }

.navbar-expand-lg .navbar-nav .tm-nav-link {
    font-size: 1.3rem;
    font-weight: 400;
    color: white;    
    padding-bottom: 30px;    
}

.nav-item { margin-right: 60px; }

.nav-item:last-child { margin-right: 0; }

.nav-item.active .tm-nav-link,
.nav-item:hover .tm-nav-link {
    color: #9CC;
}

/* Page Background */
.tm-bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1000;
}

.tm-bg-left,
.tm-bg-right {
    position: relative;
    width: 50%;
    height: 100%;
}

.tm-bg-right { background-color: rgba(0,0,0,0.5); }

.tm-bg-left {
    border-right: 230px solid rgba(0,0,0,0.5);
    border-top: 100vh solid transparent;
}

.tm-bg-controls-wrapper {
    display: inline-block;
    margin-left: -150px;
}

.tm-bg-control {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,0.5);
    margin: 6px;
    cursor: pointer;
}

.tm-bg-control.active,
.tm-bg-control:hover {
    background-color: white;
}

.tm-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.tm-row { display: flex; }

.tm-col-left {
    width: 50%;
    height: 100%;
    padding-left: 40px;  
    padding-right: 40px;
    /* Parallax effect */
    transform: translate3d(0, 0, 0);
    perspective: 1px;
    transform-style: preserve-3d;
}

.tm-col-right {
    width: 50%;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

.tm-content {
    max-width: 660px;
    margin-top: 50px;
    padding-right: 20px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.6s ease-in-out; /* Fade-in transition */
}

.tm-about { max-width: 525px; }

.tm-content-title { font-size: 1.5rem; }
hr { border-top: 1px solid white; }

.btn {
    padding: 10px 25px;
    border-radius: 0;
}

.btn-big {
    padding: 9px 40px;
    font-size: 1.2rem;;
}

.btn-primary {
    background-color: white;
    color: black;
    border: 0;
}

.btn-primary:hover {
    background-color: #9CC;
    color: black;
}

.tm-site-footer {
    padding: 40px 0 20px;
    max-width: 660px;
    font-size: 0.95rem;
}

.tm-col-footer { padding-left: 0; }
.tm-text-link { color: white; }

.tm-text-link:hover,
.tm-text-link:focus {
    color: #9CC;
}

/* Service */ 
.tm-service-text { max-width: 365px; }
.tm-service-img { margin-right: 25px; }
.tm-service-img-r { margin-left: 25px; }

/* Contact */
.form-control,
textarea {    
    color: white;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #999A9B;
    border-radius: 0;
    transition: color 0.6s ease, border-color 0.6s ease; /* Smooth transition for color and border-color */
    padding: 10px 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.form-control:focus {
    color: white;
    background-color: transparent;    
    box-shadow: none;
    border-color: #9CC;
    outline: none;
}

.btn-primary {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.btn-primary:hover {
    background-color: white;
    color: black;
}

.mb-85 { margin-bottom: 85px; }
.tm-contact-main { max-width: 690px; }

.tm-contact {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
}

.form-control::-webkit-input-placeholder { color: white; } /* Edge */  
.form-control:-ms-input-placeholder { color: white; } /* Internet Explorer 10-11 */  
.form-control::placeholder { color: white; }
